@tailwind base;
@tailwind components;
@tailwind utilities;

.firstchild{
    width: 1440px;
    height: 812.53px;
    background-image: url('/scandinavian-interior-mockup-wall-decal-background 1.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}